<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Readmill Rosie</title>
    <meta name="description" content="Readmill's twitter bot">

    <meta property="og:title" content="Readmill Rosie"/>
    <meta property="og:description" content="Readmill's twitter bot"/>

    <link rel="shortcut icon" type="image/png" href="images/favicon.png" /> 
    
    <link href="/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </head>
  
  <body class="index">
    <div class="wrap group ">
  <div class="sign-up">
    <img src="images/rosie.png" width="286" class="rosie">
    <h1>Readmill Rosie</h1>
    <h3>auto tweet your readmill activity</h3>
    <a class="btn" href="/auth/readmill">start tweeting</a>
  </div>
  <div class="tweets">
    <blockquote class="twitter-tweet"><p>I've spent 1 hour and 35 minutes in 1 book this week. And made 2 highlights. Follow me at <a href="https://t.co/Hz4qx83W6w" title="https://readmill.com/milesalex">readmill.com/milesalex</a></p>&mdash; Alex Miles (@milesalex) <a href="https://twitter.com/milesalex/status/308199093493194752">March 3, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <blockquote class="twitter-tweet"><p>I've spent 5 minutes in 2 books this week. And made 5 highlights. Follow me at <a href="https://t.co/624XsTpPXU" title="https://readmill.com/henrik">readmill.com/henrik</a></p>&mdash; Henrik Berggren (@henrikberggren) <a href="https://twitter.com/henrikberggren/status/308198995421966337">March 3, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  

  
</div>


  </body>
</html>